@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* --------------------COMEÇO NAV----------------------- */
a{
    color:white;
    text-decoration: none;
}
a:hover{
    background: rgba(0,0,0, .05);
}
#logo{
    font-size: 1.5rem;
    font-weight: bold;
}
#header{
    box-sizing: border-box;/*somam, o header vai ter sempre 70px de altura*/
    height: 70px;
    padding: 1rem;
    display: flex; /*itens um do lado do outro*/
    align-items: center;
    justify-content: space-between;/* alinhado a direita com espaçamento */
    background-color: #24262b;
    border-bottom:2px solid #9400D3; 
}
#menu{
    display: flex; 
    list-style: none;
    gap: .5rem;  /*novidade de espaçamento*/
}
#menu a{
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
    color: white;
}
@media(max-width: 600px){
    #btn-mobile{
        display: block;/*block = aparece*/
    }
    #menu{
        display: block; 
        position: absolute;/*vai ficar por cima de qualquer outro elemento*/
        width: 100%;
        top: 70px;
        right: 0px;
        background: #24262b;
        height: 0px;
        transition: .6s;/*só ocorre com display block*/
        z-index: 1000;
        visibility: hidden;
        overflow-y:hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);/* vh tamanho tela */
        visibility: visible;
        overflow-y: auto;/*cria barra de rolagem se tiver muita aba no menu*/
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0, .05);;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        color: white;
        border-top: 2px solid;
        width: 20px;    
        margin-top: 5px;   
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;/* mantém a mesma cor */
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top:-7px;
    }
}
/*---------------------- FIM NAV------------------------ */


/*---------------------- COMEÇO FORM------------------------ */
.cont-form{
    padding: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    width: 100%;
    margin: 300px 0 50px 0;
    justify-content: center;
}
input{
    box-shadow: 0 0 1em  rgb(179, 179, 179);
}

#termo{
    border-top-left-radius: 30px;  
    border-bottom-left-radius: 30px; 
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border: none;
    outline: 0;
}

#btn{
    border-top-right-radius: 30px;  
    border-bottom-right-radius: 30px;
    transition: 0.5s;
    width: 10%;
    max-width: 80px;
    min-width: 60px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 1em  rgb(179, 179, 179);
    cursor: pointer;
    
}
#btn:hover{
    background-color: #9400D3;
    color: white
}
/*---------------------- FIM FORM------------------------ */

/*---------------------- COMEÇO LISTA ------------------------ */

.lista{
    max-width: 900px;
    width: 90%;
    margin: 20px auto;
    padding: 20px 15px;
    border-radius: 7px;
    background-color: #24262b;
    border: none;
    box-shadow: 0 0 1em  rgb(122, 122, 122);
}
.lista:last-child { 
    margin-bottom: 2%;
 }
 b{
     color: #9400D3;
    font-size: max(15px, .9vw);

 }
.nomeP{
    color: white;
    font-size: max(15px, .9vw);
}
.tradP{
    color: white;
    font-size: max(15px, .9vw);
}
.descP{
    color: white;
    font-size: max(15px, .9vw);
}

/*---------------------- CFIM LISTA------------------------ */

/*---------------------- COMEÇO FOOTER------------------------ */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap:wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 250px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   flex: 1;
   flex-direction: row;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #9400D3;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
        
    form{
        margin: 50px 0 50px 0;
    }
    .footer{
        margin-top: 50px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

/*---------------------- FIM FOOTER------------------------ */